/* PAGE1 */
html,body {
    background-size: cover;
    background-color: #006080;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
    height: 100%;
}
/* SECTION 1 */
#page1Section1{
    margin: 0px;
    padding: 5px;
    background-color: #0095C7;
    display: block;
    border-style: solid;
    border-color: black;
}
/* WELCOME MESSAGE */
#welcomeMsg {
    text-align: left;
    margin: 0px;
    padding: 0px;
    display: flex;
}
/* Layout */
.welcomeRow {
    margin: 0px;
    display: flex;
    padding: 10px;
}
/* Text */
#welcomeLabel {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    color: #053444;
        font-family: cursive;
        font-weight: 800;
}
#welcomeHeading {
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
color: #053444;
font-weight: 800;
}
#username {
    font-weight: 800;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-transform: uppercase;
}
/* Instructions */
#instructionsHeading {
    font-weight: 700;
    font-family: cursive;
    font-size: 28px;
}
#instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    padding: 10px;
    border: black;
    border-style: solid;
    background-color: #3fb2d9;
}
.instruction{
    font-family: sans-serif;
        font-weight: 600;
        color: #05303E;
}
/* SECTION 2  */
.page1Section2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    display: block;
    background-color: #0095C7;
    border: solid;
    border-color: black;
}
/* SCORES */
#scoreDisplayOutput {
    display: flex;
    border: black solid;
}
#pastScoresDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid;
    background-color: cadetblue;
    padding: 10px;
}
#scoreDisplay {
    width: 100%;
    display: flex;
    background-color: #4991cca1;
    border: black;
    border-style: solid;
}
.scoresOption{
    font-family: monospace;
}/* Layout */
#scoresDisplayHeadRow{
    margin: 0px;
}
.scoreDisplayRow {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 5px;  
}
#scoreDisplayCol {
    display: flex;
}
.pastScoreField {
    display: flex;
    align-items: baseline;
    padding: 10px;
    margin: 10px;
    font-weight: 500;
    width: 33%;
}
.scoreDisplayRow {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    /* background-color: cadetblue; */
}
/* Text */
.scoreLabel {
    margin-right: 1px;
}
#scoreList {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 0px;
    border: black;
    border-style: solid;
    margin-right: 0px;
}
.scoreText {
   font-family: cursive; 
   text-transform: capitalize;
    padding: 0px;
    margin: 0px;
    
}
/* Footer */
.pageFooter {
    background-color: #0095C7;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.footerRow {
    padding-top: 10px;
    margin-top: 18px;
    margin-bottom: 0px;

}

.logoutRow {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 0px;
}