/* PAGE4 */
.page4Section1{
    margin: 0px;
    padding: 10px;
    background-color: #0099cc;
    border: #00384d solid;
}
/* USER ACCOUNT */
#editAccount {
    padding: 10px;
    margin-top: 10px;
    background-color: cadetblue;
    border-style: solid;
}
#currentUserOutput{   
    background-color: #1bb4ed;
    border: black;
    border: solid;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}
/* Layout */
#userHeadCol {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0px;
}
.editUserBtnCol {
    display: flex;
    justify-content: flex-end;
}
/* Text */
#userAccountHead{
    color: black;
    text-align: center;
    font-family: cursive;
        font-weight: 800;
        font-size: 28px;
}
/* Buttons */
#toggleUserEditBtn{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    width: 180px;
        font-size: 18px;
            font-family: monospace;
}
#editAccountBtn {
    width: 180px;
    font-size: 20px;
    font-weight: 700;
    font-family: monospace;
    color: black;
}
/* EDIT USER FORM */
/* layout */
.editUserBtnRow {
    padding: 10px;
        margin-left: 0px;
            margin-right: 0px;
            margin-top: 10px;
            margin-bottom: 5px;
}
.editUserCol {
    display: flex;
    margin-left: 0px;
    flex-direction: row;
}
/* Input */
.editUserInput {
    padding: 5px;
    border-radius: 5px;
}
.editUserLabel {
    display: flex;
    align-items: baseline;
    color: black;
}
.editUserHead {
    text-align: center;
    color: black;
}
/*USER LIST DISPLAY  */
/* layout */
.userOutputRow{
    margin: 0px;
        padding: 0px;
}
.userOutputCol{
    display: flex;
    margin: 0px;
    align-items: baseline;
}
#toggleEditUserCol{
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 10px;
}
.user{
    background: #00a8e6;;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    display: block;
    border: black;
    border-style: solid;
}
.userData{
    display: flex;
    align-items: baseline;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}
.outputText{
    font-weight: 800;
    color: black;
    font-family: monospace;
        font-size: 18px;
        text-transform: uppercase;
}
/* BUTTONS */
#deleteUserBtn{
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: monospace;
    color: black;    
    font-size: 20px;   
}
#userDisplayBtn {
    font-weight: 700;
    font-family: monospace;
    margin-left: 0px;
    margin-right: 0px;
    width: 180px;
    font-size: 18px;
    color: black;
}