/* PAGE4 */
.page4Section1{
    margin: 0px;
        padding: 0px;
        background-color: olivedrab
}
#currentUserOutput{
    padding: 10px;
    margin: 0px;
}
.userOutputCol{
    display: flex;
    margin: 0px;
}
.user{
    background-color: olive;
        margin-bottom: 5px;
            margin-top: 5px;
            margin-left: 0px;
            margin-right: 0px;
            padding: 5px;
            display: block;
            border: black;
            border-style: solid;
}