/* LOGIN PAGE */
#loginForm {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    justify-content: center;
    background-color:#009DD1;
}

#loginDetails {
    border: 5px solid black;
    -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    background-color:slategrey;
    margin: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    justify-content: center;
}
.loginLabel {
    display: flex;
    margin: 2px;
    padding: 3px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.loginInput {
    margin-left: 5px;
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px;
    border: 0px solid #000000;
    border-radius: 5px;
}

.labelText {
    font-weight: 800;
    font-family: cursive;
    margin-bottom: 0px;
    margin-top: 5px;
}

.loginRow {
    display: flex;
    margin: 0px;
    padding: 10px;
    align-items: baseline;
}

.loginCol {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#loginBtn {
    display: flex;
    width: 50%;
    justify-content: center;
    font-weight: 500;
    font-family: cursive;
    padding: 7px;
    margin-top: 0px;
}
#passwordDisplayBtn{
    font-weight: bold;
    font-family: cursive;
}
#showPassword{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.pageFooter{
    background-color: #006385;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
}