/* Registration form */
#registrationForm {
    padding: 10px;
    background-color: gray;
    border: 2px solid black;
}


#regisLabelCheckBox {
    display: flex;
    align-items: baseline;
    margin: 0px;
    padding: 10px;
    justify-content: space-between;
}

#adminCheckBox {
    margin-left: 10px;
    float: right;
    margin-right: 0px;
    padding: 5px;
    display: flex;
}

.regisInput{
    border-radius: 5px;
    padding: 2px;
    margin-left: 2px;
    text-align: center;
}
#registrationBtn {
    display: flex;
    width: 44%;
    justify-content: center;
    align-items: baseline;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 7px;
    font-weight: 500;
    font-family: cursive;
}
/* REGISTRATION REQUIREMENTS */
#regisRequire{
    font-weight: 800;
}