/* LOGIN PAGE */
.h1{
    color:#004961
}
/* LOGIN FORM */
#loginForm {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    justify-content: center;
    background-color:#009DD1;
}
/* FORM LAYOUT */
#loginDetails {
    border: 5px solid black;
    -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    background-color:slategrey;
    margin: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    justify-content: center;
}
/* Layout */
.loginRow {
    display: flex;
    margin: 0px;
    padding: 10px;
    align-items: baseline;
}
.loginCol {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
/* INPUT */
.loginLabel {
    display: flex;
    margin: 2px;
    padding: 3px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.loginInput {
    margin-left: 5px;
    text-align: center;
    margin-top: 10px;   
    margin-right: 5px;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-family: cursive;
    font-weight: 600;
    color: #000;
}
.labelText {
    font-weight: 800;
    font-family: cursive;
    margin-bottom: 0px;
    margin-top: 5px;
}
/* BUTTONS */
#loginBtn {
    display: flex;
    width: 180px;
    justify-content: center;
    font-weight: 700;
    font-family: monospace;
    padding: 7px;
    margin-top: 0px;
    color: black;   
    font-size: 20px;
}
#passwordDisplay{
    color: black;
    font-family: monospace;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    padding: 7px;
    margin-top: 0px;
    width: 180px;
}
#showPassword{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
/* FOOTER */
.pageFooter{
    background-color: #006385;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
}