body{
  background-color: #007399;
  margin: 0px;
  padding: 0px;
}
#root {
  margin: 0px;
  padding: 10px;
  width: 100%;
  display: block;
  background-color: #007399;
}
.appContainer {
  background-color: #006385;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}
/* HEADER */
.header {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  background-color: #0095C7;
}
.h1 {
  font-family: cursive;
  text-align: center;
  color: #00394D;
  font-weight: 800;
}
.h2{
  text-align: center;
  font-family: cursive;
  font-weight: 800;
}

.h3 {
  text-align: center;
}
/* NAVIGATION BAR */
.navigation {
  display: flex;
  padding: 0px;
  margin: 0px;
 
}

.navRow {
  padding: 0px;
  margin: 0px;
  
}

.navCol {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.navbar {
  display: flex;
  list-style-type: none;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px;
  
}



.linkText {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.linkItem {
  padding: 2px;
  text-decoration: none;
}

.refLink {
  text-decoration: none;
  color: black;
  font-weight: 800;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.section1 {
  margin: 0px;
  padding: 10px;
  background-color: #006385
}
.h2{
  text-align: center;
}
.labelText {
  font-weight: 800;
  font-family: cursive;
  margin-bottom: 0px;
  margin-top: 5px;
}

/* REGISTRATION PAGE */
.section2{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
    padding: 10px;
    display: block;
    background-color: #0095C7
}
.regisCol {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: baseline;
}

.regisLabel {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0px;
  padding: 10px;

}
/* Registration form */
#registrationForm {
  padding: 10px;
  background-color: gray;
  border: 2px solid black;
}

#adminCheckBox {
  margin-left: 5px;
  float: right;
  margin-right: 0px;
  padding: 5px;
  display: flex;
}

.h5{
  text-align: center;
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px;
}
/* RULES */
.rulesHeading{
  font-weight: 800;
}
.rulesCol {
  margin: 0px;
  padding: 5px;
  /* background-color: #006385; */
}

.rulesList {
  list-style-type: none;
  background-color: #006385;
  padding: 10px;
  
}
.rule {
  font-weight: 600;
  font-family: sans-serif;
  display: flex;
  align-items: baseline;
}
/* QUIZ */
.result{
  padding: 4px;
}
.resultRow{
  
      display: flex;
        flex-direction: row;
        margin: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
}
/* PAGE FOOTER */
.pageFooter {
  background-color: #006385;
  padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
