/* BODY */
#root {
  margin: 0px;
  padding: 10px;
  width: 100%;
  display: block;
  background-color: darkgoldenrod;
}

.appContainer {
  background-color: goldenrod;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}
/* HEADER */
.header{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  background-color: olive;
}

.h1{
  font-family: cursive;
  text-align: center;
}
/* NAVIGATION BAR */
.navigation{
  display: flex;
      padding: 0px;
        margin: 0px;
}
.navRow{
  padding: 0px;
  margin: 0px;
}
.navCol{
  display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
.navBar{
    display: flex;
      list-style-type: none;
      justify-content: center;
      text-decoration: none;
  list-style-type: none;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 2px;
  margin-right: 2px;
  padding:0px;
}
.h3{
  text-align: center;
}
.linkText {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
      margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-top: 0px;
}
.linkItem {
  padding: 2px;
  text-decoration: none;
}
.refLink {
  text-decoration: none;
  color: black;
  font-weight: 800;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}
/* LOGIN */
.section1 {
  margin: 0px;
  padding: 10px;
  background-color: olivedrab
}
#loginForm {
  border: 2px solid black;
  padding: 10px;
  background-color: gray;
  margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  
}
.loginLabel{
  display: flex;
  margin: 2px;
  padding: 3px;
  align-items: baseline;
  justify-content: center;
}
.loginInput {
  margin-left: 5px;
  text-align: center;
}
.labelText{
  font-weight: 800;
  font-family: cursive;
}
.loginRow {
  display: flex;
  margin: 0px;
  align-items: baseline;
}
.loginCol {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
#loginBtn {
  display: flex;
  width: 44%;
  justify-content: center;
  font-weight: 500;
    font-family: cursive;
    padding: 7px;
  }
/* REGISTRATION PAGE */
#registrationForm {
  padding: 10px;
  background-color: gray;
  border: 2px solid black;
}
.regisCol {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: baseline;
}
.regisLabel {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0px;
  padding: 10px;

}
#regisLabelCheckBox {
  display: flex;
  align-items: baseline;
  margin: 0px;
    padding: 10px;
    justify-content: space-between;
}

#adminCheckBox {
  margin-left: 5px;
  float: right;
  margin-right: 0px;
  padding: 5px;
  display: flex;
}

#registrationBtn{
  display: flex;
    width: 44%;
    justify-content: center;
    align-items: baseline;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding:7px;
    font-weight: 500;
    font-family: cursive;
}
/* RULES */
#rules{
  margin: 0px;
  padding: 5px;
  background-color: olivedrab;
}
.rulesList {
  list-style-type: none;
}
.rule{
  font-weight: 600;
  font-family: sans-serif;
}
/* PAGE FOOTER */
.pageFooter{
  background-color: darkolivegreen;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}